/experiments/finger_classification/aux.py
/config/
/experiments/finger_classification/config.py
/experiments/finger_classification/preprocessing.py
/experiments/speech_classification/main_speechdecoding.py
/src/inprogress_scikit-learn DL/
/experiments/finger_classification/main.py
/data/
/experiments/finger_classification/misc/
/output/
